[2020-12-27 16:28] the-hampel commented on #155
Hi,
Sorry I can not give you a more clear advice at this point. I cannot explain all the steps necessary here. You can have a look for example at our code soliDMFT on github, were we allow for magnetic calculations in DMFT. You have to lift the spin degeneracy in SumK, then it works automatically. Try the following right after you created your Sumk object:
[code]
This will lift all degeneracies. T

[2021-01-02 19:56] Reyhanehe commented on #155
Dear Hampel
Thank you so much for your best comments and your kindly attention to my issue .
So In this time, I should work in detail using triqs code to solve my problem.
With warmest regards,
Reyhaneh

[2021-01-02 19:56] #155 closed, assigned to nobody

[2021-01-02 20:08] Reyhanehe opened #156 "problem with triqs version"
Dear all
 Hi
Happy new year:)
 I want use hubbardI method using triqs 3.0.0 and using WIEN2k codes. But when I want to run "python ce_gamma.py" from "triqs webpage", I have following error:
 from triqs.applications.impurity_solvers.hubbard_I.hubbard_solver import Solver ModuleNotFoundError: No module named 'triqs.applications'
 Can you please help me to solve this error?
 noticable that I installe

[2021-01-04 14:08] the-hampel commented on #156
Hi,

I guess this line is not correct anymore for triqs 3.x.x . Taking a look here: https://triqs.github.io/hubbardI/latest/ce.html and in the script provided in the documentation of the HubbardI solver: https://github.com/TRIQS/hubbardI/blob/3.0.x/doc/ce_input/ce.py the line to import the solver is:
[code]
However, the rest of the example is also very outdated and needs to be updated. We will wor

[2021-01-08 14:01] the-hampel opened #157 "SumK assumes beta=40 and n_iw=1025"
When no Sigma is set in a fresh SumK object, and one directly calculates the chemical potential one can not control for which temperature or for how many matsubara frequencies this is done. Only when prior to calculating the chemical potential a Sigma is set with an appropiate mesh. This is because the total_density function in SumK called by calc_mu sets up a lattice gf with default values when n

[2021-01-28 12:17] Reyhanehe opened #160 "[doc] Outdated hubbardI tutorial Ce-gamma.py"
Dear all,
Hi
I want run the "python ce.py" using hubbardI with the latest version of triqs (mean triqs with version 3). Also I am the wien2k user . But when I run the "python ce.py" command I have the following error. I use the "ce.py" from your webpage "https://triqs.github.io/dft_tools/latest/tutorials/images_scripts/Ce-gamma_script.html#ce-gamma-script". Can you please help me to solving this p

[2021-01-28 14:33] Wentzell commented on #160
This is an issue with the dft_tools documentation. The tutorial provided at https://triqs.github.io/dft_tools/latest/tutorials/images_scripts/Ce-gamma_script.html
needs to be updated for TRIQS 3.0.x and HubbardI 3.0.x.

The [hubbardI Changelog](https://triqs.github.io/hubbardI/latest/changelog.html#version-2-2) will be of help for that as well as the TRIQS 3 [porting guide](https://github.com/TRIQ

[2021-01-28 14:39] the-hampel commented on #160
Hi,
yes this is indeed connected to your issue #156 ! I am working on that, but had unfortunately so far no time to fix the documentation.

[2021-02-02 12:20] shinaoka opened #162 "Remove mpi dependence from converters/*.py"
### Summary

I propose to remove the (seemingly) unnecessary dependence of converters/*.py on MPI.

### Motivation
Importing mpi4py is prohibited on frontend nodes of some HPC clusters.
The mpi dependence prevents users from using these converters on such machines.

### Implementation
I think we can remove the MPI dependence if these converters are never run in parallel.
You can find some implemen

[2021-02-02 23:35] the-hampel commented on #162
Hi,
I agree. I think it is reasonable to assume that all converters are run only by the master rank, if run with mpi at all, as they involve disk I/O which should only be done once. Indeed I am running the converters from an MPI environment within charge self-consistent DFT+DMFT calculations, but I only call the converters on the master rank. I think your PR #163 looks good as a workaround. Can an

[2021-02-03 20:58] aichhorn commented on #162
Thanks Hiroshi! This looks good to me. I thought a bit about mpi for the converters now, but I don't see a case where it would be necessary. There is nothing time critical in this part of the code.
From my side we can merge this.

[2021-02-03 21:58] shinaoka commented on #162
Thank you for reviewing the PR!

[2021-02-04 12:58] the-hampel commented on #162
Just an update: I am discussing with @Wentzell at the moment about the issue. In principle we agree, however we are not sure how "future" friendly an extra layer on top of the triqs.utility.mpi layer is, which itself is already a layer above mpi4py. Meaning, that if in future someone wants to use other MPI functions in the converters, they also need to be implemented in the extra layer. Right now

[2021-02-04 22:00] the-hampel commented on #162
update 2: we think we have a more global solution to the problem. We will try to take your idea of a "dummy" mpi class directly into triqs. We have the idea that we can check when importing `triqs.utility.mpi` if a mpi environment is loaded by checking via `os.environ.get()` if MPI environment variables are set. If not, then we will basically do what you proposed. I will work on that the coming da

[2021-02-04 22:06] shinaoka commented on #162
Thank you for the updates.
Yes, introducing a dummy mpi class into TRIQS seems to be the best solution!

[2021-02-06 00:53] viridibang opened #164 "locproj.F"
Hi, all.

I'm trying to perform the DFT+DMFT calculations with VASP interface(VASP5.4.4).
Where can I find the details about the modification of locproj.F file for the fermi energy?

I already changed the line 695 as below.

WRITE(99,'(4I6,F12.7,"  # of spin, # of k-points, # of bands, # of proj, Efermi" )') W%WDES%NCDIJ,NK,NB,NF,EFERMI

However, when I try to recompile the VASP code, the error ca

[2021-02-06 18:41] the-hampel commented on #164
Hi,
yes, indeed the instructions are not complete. Sorry for that. I will add the missing pieces. What you need to do is to pass `EFERMI` to the subroutine itself in locproj.F in line 560 or so:
[code]
and then add in the header of the subroutine also:
[code]
to define the variable type. Now the subroutine should be aware of the variable `EFERMI` To make this then successful you also need to chang

[2021-02-07 04:18] viridibang commented on #164
Dear Alex,

Thank you very much for your prompt response.

I successfully recompiled the VASP 5.4.4 following your advice.
However, after the DFT self-consistent calculation, the EFERMI value in the first line of the LOCPROC file was 0.0000000.
I think that we just defined EFERMI variable (REAL(q) :: EFERMI), however, there is no given number for it, thus we should set the EFERMI variable as simil

[2021-02-07 17:01] the-hampel commented on #164
Hi,
did you perform all 4 changes as written? I checked again and I cannot find any other changes that I made. You need to change the call to LPRJ_WRITE by adding EFERMI as variable in electron.F. This is in the function ELMIN, which knows the values of EFERMI, so this should set the value of EFERMI. Then we need to change the subroutine header LPRJ_WRITE by adding EFERMI. Now the function got the

[2021-02-08 04:39] viridibang commented on #164
Dear Alex,

Thank you again for your advice.

I think I did all that you suggested.
I modified electrons.F and locproj.F files in the src folder, and the recompile the VASP 5.4.4 using "make all" command.

However, the problem does not disappear.
I checked E-fermi in OUTCAR file and confirmed that the number is reasonable.
However, the first line in the LOCPROJ file still shows the zero Fermi ener

[2021-02-08 06:50] opeil commented on #164
Dear Bang,

You might need to check that `LPRJ_WRITE` in main.F also passes `EFERMI` in the last argument.

Below, I provide relevant diffs (the exact line numbers could differ from your version, do not try to apply it as a patch!). You can ignore the change of `NS` to `W%WDES%NCDIJ`.

locproj.F
[code]

electron.F
[code]

main.F
[code]

Best,
Oleg

[2021-02-08 08:47] viridibang commented on #164
Dear Oleg,

Thank you for your kind instruction.
The problem was solved!!

The main reason is the main.F file.
We should change the main.F file in addition to the other files.

Thank you very much.

Best,
Bang

[2021-02-08 12:54] the-hampel commented on #164
Good morning,
thanks @opeil I somehow forgot about this one. I will change the instructions.

[2021-02-08 13:04] #164 closed, assigned to nobody

[2021-02-10 07:20] viridibang opened #165 "qsub running"
Hi.
I try to perform CSC DFT+DMFT calculation with the VASP 5.4.4.
I'm using the cluster system, thus I need to submit the job using qsub command.
If you don't mind, could you tell me how to make a suitable job.sh file for running the vasp_dmft?

job.sh file for the normal VASP calculation is as below.

#!/bin/bash
#$ -V
#$ -cwd
#$ -N b
#$ -pe mpi 40
#$ -q all.q
#$ -R yes
mpirun  /opt/vasp/vasp.5.

[2021-02-10 16:29] the-hampel commented on #165
Hi @viridibang,

that is not trivial and depends on your mpi environment. One suggestion is included in dft_tools: https://triqs.github.io/dft_tools/unstable/tutorials/nio_csc.html#charge-self-consistent-dmft on the bottom via the bash script vasp_dmft.sh: https://triqs.github.io/dft_tools/unstable/tutorials/nio_csc.html#charge-self-consistent-dmft . It sits in your triqs installation in the bin d

[2021-02-18 03:26] shinaoka commented on #162
For your information, `from triqs_tprf.wannier90 import parse_hopping_from_wannier90_hr_dat` causes the same problem.

[2021-02-19 21:54] the-hampel commented on #162
Just a quick update: I started working on the implementation and for the python layer I implemented some preliminary fixes that work quite well. You can check it out on my fork https://github.com/the-hampel/triqs/tree/mpi_simpl . I will continue working on it next week. Just to let you know, that I did not forgot about it. At the moment the C++ end is not yet fixed.

Best,
Alex

[2021-02-22 04:50] shinaoka commented on #162
Thank you for the update!
FYI, I have found similar issues in triqs.lattice module.

[code]

[2021-02-22 11:42] viridibang commented on #165
I hope to run CSC DFT+DMFT using the MPI environment, thus, utilizing the soliDMFT might be an alternative way for me.
Could you explain more specifically to perform CSC DFT+DMFT with the soliDMFT?

Best,

[2021-02-22 15:29] the-hampel commented on #165
Hi @viridibang,

So where exactly are you stuck?

Did you successfully adapted Vasp as explained here: https://triqs.github.io/dft_tools/unstable/guide/conv_vasp.html , so that the LOCPROJ file contains the Fermi lvl?

And locally you should be always able to run the NiO example from the tutorial. Did this work for you? https://triqs.github.io/dft_tools/unstable/guide/dftdmft_selfcons.html#vasp-pl

[2021-03-31 09:36] ghost opened #167 "a"

[2021-04-06 09:51] karlabaumann opened #168 "Trace of the density matrix is 1.00018 instead of 1"
Dear all,

I have an issue, where I couldn't find any helpful hint or solution so far. I am using  Triqs dft tools for the material FeSe (5-orbital Kanamori interaction).
We obtained the DFT input with Wannier90 using two different functionals
PBE and HSE. With HSE ( I have no problems at any temperature from beta=50-150 and different interactions the code works well and converges nicely). However

[2021-04-06 12:57] the-hampel commented on #167
Hi @fngassam1992 ,

if there is any problem, can you make sure to describe it? Otherwise I will delete this issue.

[2021-04-06 12:57] the-hampel commented on #165
Is this still an open issue @viridibang? Otherwise I will close it in the coming days.

[2021-04-06 13:40] the-hampel commented on #168
Hi @karlabaumann,

I indeed observed that the trace of rho can deviate a bit from 1 in a few calculations. In principle this should not happen, unless your QMC sampling has problems. The probability of all impurity states is normed to 1, as it should in a proper density matrix. I usually only get a warning:
[code]
Hence, the deviation that I see is very very small. I think it makes sense that cthy

[2021-04-08 07:36] karlabaumann commented on #168
Hi Alexander Hampel,

many many thanks for your detailed and fast reply!

I checked all the points on your list and luckily I could fix the issue.
I had now one converged run with the PBE functional at beta=50. Indeed
it was, as you suggested, related to the tail fit.
So I still get a warning but the code doesn't stop. And also I checked
the output files before and the error was growing.

These po

[2021-04-08 11:58] the-hampel commented on #168
Hi Karla,

okay sounds good. If I understand you correctly you changed the tail fitting for the solver output right (the fitting that one specifies in the solve params)? This probably means, that after a few iterations the G0_iw that you give to the solver as input becomes ill-conditioned in some way, when using bad fitting parameters. Better keep an eye on that problem, and check also for converg

[2021-04-08 11:58] #168 closed, assigned to nobody

[2021-04-22 15:39] the-hampel commented on #167
I will close this issue now. Please open a proper new one if there any problems.

[2021-04-22 15:39] #167 closed, assigned to nobody

[2021-04-22 15:40] #165 closed, assigned to nobody

[2021-04-22 15:50] the-hampel commented on #162
Dear @shinaoka,
@Wentzell and I have now implemented a no MPI mode in triqs. See PR: https://github.com/TRIQS/triqs/pull/809, https://github.com/TRIQS/mpi/pull/6, and https://github.com/TRIQS/nda/pull/13 for details. Right now this is due to technical reasons on the stat branch of triqs, but will be soonish merged to unstable. You can try the feature by using the stat branch of triqs.

Our solutio

[2021-04-23 12:10] shinaoka commented on #162
@the-hampel
Thank you for your effort!
These changes will be very useful.
I will test the new code next week.

[2021-06-01 07:52] shinaoka commented on #162
I somehow failed to build the source files in the stat branch.
How soon will the stat branch be merged into the unstable branch?

[code]

[2021-06-01 14:36] Wentzell commented on #162
Dear @shinaoka,

The stat branch has been merged into unstable last week.
Can you please try to build TRIQS/unstable instead?

Best,

Nils

[2021-06-02 04:46] shinaoka commented on #162
@Wentzell
For the unstable branch, the h5 library has been configured normally.
But, I see some compilations errors with gcc-9.3.0.
Do you have any idea what's wrong?

[CMakeCache.txt](https://github.com/TRIQS/dft_tools/files/6582027/CMakeCache.txt)
[compilation_log.txt](https://github.com/TRIQS/dft_tools/files/6582028/compilation_log.txt)

[code]

[2021-06-02 13:26] Wentzell commented on #162
Dear @shinaoka,

Could you try compiling with gcc version 10 or above instead?
We are gradually starting our move to C++20 for our unstable branches,
and the error above is related to this.

Best,

Nils

[2021-06-02 14:31] the-hampel commented on #162
Hi,

I can confirm that the unstable branch can no longer be build with something like gcc/7.4.0. gcc/10.x works. I can reproduce the error that @shinaoka sees:

[code]

- Alex

[2021-06-02 20:46] shinaoka commented on #162
@Wentzell @the-hampel
Thank you for your help.
The unstable branch has been built successfully with g++ 10.2.0.
The new code works well!

<img width="426" alt="image" src="https://user-images.githubusercontent.com/15949860/120549677-dc63cd80-c42e-11eb-809e-ba11d6c5814d.png">

[2021-06-02 20:50] the-hampel commented on #162
Great! That is how it supposed to work now, giving a warning if started in serial mode. :-) Took quite some time, but finally. Let us know if there are any problems.

[2021-06-02 23:43] shinaoka commented on #162
Thank you for your effort again. I close this issue.

[2021-06-02 23:43] #162 closed, assigned to nobody

[2021-06-09 18:37] the-hampel commented on #157
The problem is still persisting. We need to allow the user to pass parameters on creation of the Sumk object to init:
* beta
* iw_or_w
* iw_max
* ...

[2021-06-17 00:55] thenoursehorse opened #172 "VASP 6 and ISYM > 0"
As far as I can understand ISYM = 0 in VASP is required for plovasp because of a longstanding issue with VASP for versions before VASP 6 (e.g., see [this link](https://www.vasp.at/forum/viewtopic.php?f=3&t=306), which is a bug that still exists in VASP 5.4.4). This requirement is possibly prohibitively expensive for the kinds of systems my group wants to look at, which have a large number of elect

[2021-06-17 22:13] the-hampel commented on #172
Hi,

Short and safest answer: right know (I think) we are stuck with no symmetries when using LOCPROJ / PLOVASP.

My thoughts on this:
I tried Vasp 6 with LOCPROJ a bit and saw no large changes, so I would assume everything is still the same. But, I was planning to play a bit around with that, but did not so far.  I think the biggest problem I see is that as soon as I try with symmetries and LOCPR

[2021-06-18 06:04] thenoursehorse commented on #172
Hi Alex,

Thanks for the fast reply.

Unfortunately, I don't have a VASP6 license to test. But the error that you get also occurs in VASP5 when using symmetries with LOCPROJ. You can test with NCORE = 1, or maybe by shifting the lattice (for non hex or fcc lattices). That's a frustrating requirement anyway if it still exists in VASP6.

In VASP5: Taking NiO on a 6x6x6 grid as an example with ISYM =

[2021-06-19 02:18] thenoursehorse commented on #172
I had a further look into this, and I suspect that it is a VASP problem for constructing the projectors. My tests below are for VASP5, but I doubt that this is fixed in VASP6.

My tests are on NiO (rocksalt) for the inputs that are on the tutorial for the VASP interface, except explicitly setting NCORE = 1. For some of these tests, I chose ISMEAR = 0 because I didn't construct the tetrahedra conne

[2021-06-22 05:12] thenoursehorse commented on #172
I created a bugfix post on the VASP forums here [https://www.vasp.at/forum/viewtopic.php?f=3&t=18170](https://www.vasp.at/forum/viewtopic.php?f=3&t=18170).

VASP will always construct its own k-mesh. I don't really see why this is necessary to create the projectors.

I have a patch for VASP 5.4.4 that one can test with if they like, which just uses the k-mesh specified by the KPOINTS file. (Licens

[2021-06-22 07:44] opeil commented on #172
Just a small remark: The uniform k-weight `1 / nktot` was chosen because
the interface was meant to be used with ISYM = -1 (again, because there was
no chance to get projectors inside the IBZ only). Thanks for patching this.

   As to locproj.F, I have not worked with VASP 6 but to my knowledge
nothing was changed there.

On Tue, Jun 22, 2021 at 7:12 AM Henry Nourse ***@***.***>
wrote:

--

 Dr. O

[2021-06-22 14:05] the-hampel commented on #172
Hi Henry,
I have a Vasp 6.2.0 version and tested the case 1 and 3 you described in the Vasp forum with SrVO3. I see the exact same behavior. The only way running `ISYM=2` is with `mpirun -n 1`, but still Vasp will output the projectors for all kpts. This is probably wanted, because the same routines are called when using `LWANNIER` flags, and wannier90 expects to obtain all kpts.

For your second

[2021-06-23 03:46] thenoursehorse commented on #172
Hi Alex,

Actually, no part of the locproj module in VASP 5.4.4 is called from any other module (EDIT: as far as I can tell!). The issue occurs with the `CALC_OVERLAP_GN` subroutine in locproj.F, which is (essentially) copied from the mlwf module.  When VASP interfaces with wannier90 it uses the mlwf module instead. EDIT2: This is wrong. I guess main calls `LPRJ_PROALL` when using `LWANNIER` flags

[2021-06-24 17:54] the-hampel commented on #172
Hi Henry,
thanks for the detailed explanation. That sounds very promising - if you test this further I would be very interested to hear if everything works. And I can also test some stuff for you with Vasp 6 if necessary. I think also a crucial point will be, if Vasp can read the `GAMMA` file for the charge update in a full CSC calculation.

Yes, with Vasp 6 it is even more obvious, because the sa

[2021-06-24 17:54] #172 closed, assigned to nobody

[2021-08-13 00:01] quantumable opened #174 "ISMEAR=0 work?"
Dear Triqs devs,

I have successfully followed the tutorial you proposed for the DFT+DMFT calculation for the case of SrVO3.
I have a problem with my system which is a molecule that I do not use the tetrahedron method. I use ISMEAR=0. But the system trash when "plovasp plo.cfg". Can you tell me if the code works with ISMEAR=0 or if you have a suggestion when I use ISMEAR=0?

[2021-08-13 13:21] the-hampel commented on #174
Hi Olivier,

Can you tell me a bit more about the error you observe? That is not really helping me to identify the problem. I can say, that the Vasp converter (are you talking about the Vasp converter? Please make that clear!) works for all `ISMEAR` values. The only thing that only works for `ISMEAR=-5` is the calculation of the DOS in `plovasp` . So probably you have the tag `DOSMESH` in your `pl

[2021-08-13 18:57] quantumable commented on #174
thank you for your reply.
indeed by removing the DOSMESH parameter it works. just to be sure to have understood the different parameters corresponding to the energy windows.  Emin and Emax represent here the energy window where we have an important weight of the target orbitals. and the EWINDOW parameter represents (Emin-Ef; Emax-Ef) ?

Olivier

[2021-08-13 18:58] quantumable commented on #174
thank you for your reply.
indeed by removing the DOSMESH parameter it works. just to be sure to have
understood the different parameters corresponding to the energy windows.
Emin and Emax represent here the energy window where we have an important
weight of the target orbitals. and the EWINDOW parameter represents
(Emin-Ef; Emax-Ef) ?

Olivier

On Fri, Aug 13, 2021 at 3:22 PM Alexander Hampel ***@

[2021-08-13 20:32] the-hampel commented on #174
Very good. Yes indeed. The energy window is given relative to the Fermi Level as you write. Importantly the window also determines in which window the projectors are orthonormalized. A smaller window will produce more extended projector functions, but occupations closer to band fillings (it will spread some of the electrons on tails to other orbitals), wheres a larger window will produce more loca

[2021-08-13 22:28] quantumable commented on #174
I work on the Kondo effect. I chose EMIN=-18eV EMAX=5.
I have some questions:

Since I have a magnetic system as in the example, why is the non-magnetic calculation done during the vasp calculation?
in the INCAR file I have this for example LORBIT=14
LOCPROJ = 1 : d : Pr 2
LOCPROJ = 2 4 6 9 : p : Pr 2

the parameter "IONS"(plo.cfg) is not clear for me. how to define the shell for the 4 atoms of N

[2021-08-13 23:12] quantumable commented on #174
I also have a problem with the cript for the calculation of the local lattice green's function [Nio_local_lattice_GF.py](https://triqs.github.io/dft_tools/latest/tutorials/nio_csc.html) from the tutorial when I run it I have this error

Starting run with 112 MPI rank(s) at : 2021-08-14 00:59:42.279120
Traceback (most recent call last):
  File "/home/olivier/WORK_tuto_Ni/ NiO_local_lattice_GF.py",

[2021-08-15 20:50] quantumable commented on #174
Since you have not answered yet, I take the opportunity to ask this additional problem concerning my system (which is a molecule). After having followed the steps (1-calculating dft with the projection LOCPROJ = 1 : d : Pr ; LOCPROJ = 2 4 6 9 : p : Pr and adding of course the fermi energy in the LOCPROJ file and after having done 2-) plovasp plo. cfg and 3-) python convert.py 4-) when executing th

[2021-08-16 15:28] the-hampel commented on #174
These are many questions. I cannot answer all of your system related questions. I can only try to answer some technical questions / issues you asked here. Let's start here:

I think the error message is pretty clear. The object `SK.proj_mat_csc` does not exist. I checked the script. Which is actually the fille `NiO_local_lattice_GF.py` and I think there is a mistake there. I will fix that. You hav

[2021-08-16 16:54] the-hampel commented on #174
I fixed now the example with commit https://github.com/TRIQS/dft_tools/commit/a1b5421864a53ce17aea81cdd2ca803db1e269b0 . You do not necessarily update your installation, but indeed the tutorial was wrong. I fixed both the `plo.cfg` and the `converter.py` script. The `NiO_local_lattice_GF.py` was doing the right thing, but the converter was not correctly setup. Let me know if there are still proble

[2021-08-17 17:14] ZhijieFan opened #175 "UserWarning: Block up maximum difference"
Hi,

I am working on a DFT+DMFT calculation on FeSb2 using Wanner90+TRIQS. All 5 d-orbitals of Fe atoms are considered correlated, but I use a diagonal approximation to calculate only the diagonal terms of the self-energy.
After the first run, I encountered some warning messages:

UserWarning: Block down maximum difference:
{'up_0': array([[0.+0.j]]), 'up_3': array([[0.+0.j]]), 'up_4': array([[0.+

[2021-08-18 01:28] #150 closed, assigned to nobody

[2021-08-18 07:32] aichhorn commented on #175
Hi,

I guess you are also doing rotations of the basis system, right?

In that case, you should get these warnings at the point where you calculate the new local Greens function. The reason is the following:
1) You start from the original DFT-derived basis set
2) You rotate into a local basis set (due to your solver, etc.)
3) You restrict this new basis to diagonal elements only.
What the code is

[2021-08-26 05:21] quantumable commented on #174
I modified the file plo.cfg converter.py nio.py I have an error during the calculation using nio.py
error:

Traceback (most recent call last):
  File "/home/TUTO_DMFT/nio.py", line 9, in <module>
    from triqs_dft_tools.block_structure import gf_struct_flatten
ImportError: cannot import name 'gf_struct_flatten' from 'triqs_dft_tools.block_structure' (/home/triqs/install/lib/python3.8/site-package

[2021-08-26 09:55] quantumable commented on #174
another question: I did the projection LOCPROJ = 1  : d : Pr ; LOCPROJ = 2 4 6 9  : p : Pr
how to define the projections in the plo.cfg file?
i did this and got some errors.
 [Shell 2] # N p shell
LSHELL = 1
IONS = 2 4 6 9
CORR = False
TRANSFORM = 1.0  0.0  0.0
            0.0  1.0  0.0
            0.0  0.0  1.0

how to define the parameter IONS for the SHELL which comprises 4 atoms whose projecti

[2021-08-26 10:31] the-hampel commented on #174
Which version of DFTTools do you have installed? The error is related to the fact that the function `gf_struct_flatten` on.y exists in the unstable branch of triqs. If you want to use the older triqs installation just take the updated conveter.py and plo.cfg file of the tutorial with old nio.py script. That should work.

[2021-08-26 10:36] the-hampel commented on #174
What exactly is the error for the p-shell? Your IONS flag should work. As the documentation describes:

If the sites are equivalent you can put them in brackets . Otherwise not. I would guess that your problem is related to the Transform section of your cfg file. You have to give one trafo matrix for each site. See https://triqs.github.io/dft_tools/unstable/guide/conv_vasp.html#transformation-file

[2021-08-27 09:15] the-hampel commented on #174
Regarding this error:
[code]
This is usually a sign, that the projectors are not well converged! Please check convergence of your KS eigenstates as I pointed out in the first place. Why do you want to keep the O-p states at all, if you are only interested in the Mn-d states? That would make maybe the creation of projectors simpler. This is definitely not a bug in the converter. It just tried to pr

[2021-08-27 09:25] the-hampel commented on #174
I am glad that the tutorial worked for you now.

I cannot write for you the python scripts in detail to do so. I don't have time for that. From the tutorials of maxent: https://triqs.github.io/maxent/latest/documentation.html this should become more than clear. Did you try those?

The analysis you ask about requires simply plotting the Matsubara Gf objects from triqs. Just load them from the h5 ar

[2021-08-28 07:01] quantumable commented on #174
Thanks for your post I will write a script for it.

during the installation of vasp I have modified the locproj.F file as indicated in the tutorial by changing the line WRITE(99,'(4I6,"  # of spin, # of k-points, # of bands, # of proj" )') NS,NK,NB,NF    by    WRITE(99,'(4I6,F12.7,"  # of spin, # of k-points, # of bands, # of proj, Efermi" )') W%WDES%NCDIJ,NK,NB,NF,EFERMI et par la suite declarer

[2021-08-29 07:18] quantumable commented on #174
I got the answer by following the method of compiling the unstable version instead.
[https://triqs.github.io/dft_tools/unstable/guide/conv_vasp.html](url)

[2021-08-29 11:18] quantumable commented on #174
how did you determine the value of the double counting. how did you choose the value 59 for the example of NiO i can use this value for my system?

[2021-08-30 05:56] the-hampel commented on #174
Sorry this has now really nothing to do anymore with dft_tools. I urge you to read on the theory of DFT+DMFT and the inherit problem of double counting of parts of the exchange-correlation accounted for in DFT. This is highly material specific. I believe here the value is chosen close to the FLL limit DC. Here is a good overview for NiO: https://doi.org/10.1016/j.elspec.2010.05.021 . A good overvi

[2021-08-30 05:56] #174 closed, assigned to nobody

[2021-08-30 06:30] quantumable commented on #174
I have finished the Nio tutorial and I am now doing the calculation on system and I might have some questions about the code. So I wish we would not close the ticket yet.

[2021-08-30 06:38] the-hampel commented on #174
Github issues are not chat channels. This is only for discussions on a specific question, regarding problems with the code or feature requests. So if you have a new specific question, please open a new issue.

[2021-09-01 17:40] quantumable opened #178 "Largest imaginary element of delta(infty) e.g. of the local part of G0: 1e-10, is larger than the set parameter imag_threshold 1e-13"
Dear all

I successfully followed the Nio tutorial (dft_tools) for the DMFT calculation.

I have some problem to do the calculation on my systeme which is a molecule.
first I did a DFT calculation to determine the energy window of the d obital I'm interested in as you can see on the attached figure
  Then I decided to consider two energy windows and make the calculation for each of the windows (re

[2021-09-02 10:36] the-hampel commented on #178
Hi Olivier,

for your first example everything looks good. Cthyb default threshold for imaginary parts in the local part of G0 is rather stringent. Your output says that the largest element is `1E-10` which is not too bad. In this case (if you do not want to treat spin-orbit coupling) you can safely add the following solve parameter  after line 78 `p['imag_threshold']=1e-08` (https://triqs.github.

[2021-09-02 11:39] quantumable commented on #178
Oups ...
[link to input](https://github.com/quantumable/dft_tools_files)

[2021-09-07 12:02] quantumable commented on #178
Hi,
Thank you for your reply.

Yes indeed this value is surprising if we just choose to treat the atom of Mn in window [-5 5]. when I make the projection of wannier and I calculate the number of electron present in this space I have 8  electron  [here is the script used to do the count](https://github.com/DMFTwDFT-project/DMFTwDFT/blob/master/scripts/electron_count.py).
For the system the total nu

[2021-09-08 07:58] quantumable commented on #178
Hi,
by adding p['imag_threshold']=1e-07 solve the problem for both cases.

indeed for this system NELECT=197 electrons. For the interval [-5 5] if we take the totality of charge including the other uncorrelated atoms, so it's possible to have 66 electrons. But if I use the vannier projection on the correlated atom, then for this windows I have 8 electrons in the wannier subspace(which is not the c

[2021-09-08 15:52] the-hampel commented on #178
Hi,
that is good. So all calculations are running now?

The number of electrons is determined from the DFT bands in this window. The converter counts the electrons in the given window in the KS states up to the Fermi level. Hence, you can directly determine those from the PROCAR file of Vasp. If all your problems are solved, please consider closing the issue.

- Alex

[2021-09-10 09:15] quantumable commented on #178
Hi Alex,

Yes,  by removing proj_or_hk = 'hk'  in converter.py,   and setting  HK = False COMPLEMENT = False  the DMFT calculation turned out fine.

**1-)**   in modified  n_orbs = SK.proj_mat_csc.shape[2]  to n_orbs = SK.proj_mat.shape[2] .  But I still have a problem with the script local_lattice_GP.py. when I run it I get this error(please do you have an idea of how to solve it?):

the first er

[2021-09-12 11:01] the-hampel commented on #178
Hi,

1) If you change the projector to the normal mode (Hk=False) than you have to change the line:
[code]
to
[code]
With `shells='csc'` it will fail, because it expects different shapes of the projectors. Try that instead your other changes.

2) I think there is a misunderstanding. You choose to use the Vasp projector interface to construct your low energy Hamiltonian to perform DMFT calculations

[2021-09-14 19:18] quantumable commented on #178
Dear Alex,

I have done what you suggested but it doesn't always work and I have this error now :

[code]
MODIFICATIONS:

`1-HK = False ;  COMPLEMENT = False 2-  n_orbs = SK.proj_mat.shape[2]    3-) add_g_ik << SK.downfold(ik, 0, bname, G_latt_KS[bname], gf, shells='corr') (if i remove this line the analysis will still correct?)`

Thanks

[2021-09-17 16:28] the-hampel commented on #178
Hi,

1)
I don't have a clear idea what goes wrong now. Can you put your exact script somewhere, so I can check it? In principle this just tells us, that the projectors in SK.proj_mat have the wrong shape. Not sure why. The changes look good to me. And I cannot say if this line is necessary or not. For that I need to see the whole script.

2)
If you want to analyze a 5x5 Gf object you should use ma

[2021-09-18 19:00] quantumable commented on #178
the   local_lattice_GF.py is

[code]

The error message:

[code]

[2021-09-20 08:15] zhl-95 commented on #127
May I ask this solution still available for version 19.2?
The line 228 in l2main.F reads:
[code]

So if I comment it, there will be a relating error when compiling:

[code]

Thank you for you reply.

[2021-09-20 14:56] quantumable commented on #178
Dear Alex,

I need to open a new ticket?
because the script local_lattice_GF.py is still not working.

[2021-09-22 20:17] the-hampel commented on #178
Hi,
I think I found the problem in your script `G_local.py`, and could reproduce the problem. This line is the problem:
[code]
proj_mat.shape[2] is not the number of orbitals, it is the number of sites. You can check this in the documentation: https://triqs.github.io/dft_tools/unstable/reference/h5structure.html#groups-and-their-formats which says:
[code]
Index 2 will point to n_corr_shells, not n

[2021-09-24 19:42] the-hampel commented on #131
I think this problem is already fixed or not? At least I did not see the warning anymore in triqs/3.x.x?!

[2021-09-28 20:05] quantumable commented on #178
Dear Alex,

i) Thanks for your suggestion it solved the problem. in a previous post you suggested to do the analysis like this
[code]
 i didn't understand well and how to insert it in the script maxent.py of the example NiO i simply modified this script like this
[code]
did i make a mistake?

ii) regarding the second point you mentioned: the representation of imaginary part of Matsubara self energ

[2021-09-28 22:12] the-hampel commented on #178
Hi,
Although quite complicated your setup for the analytic continuation looks okay, but you will drop all off-diagonal elements in the analytic continuation! Check also the convergence of your G_imp / cthyb run with respect to the number of cycles to make sure you obtain a reasonable result.

Regarding your second point you can maybe just open a discussion here: https://github.com/TRIQS/dft_tools/

[2021-09-28 22:12] #178 closed, assigned to nobody

[2021-10-11 07:51] jrhui opened #183 "combine case.almblm_*"
If I run wien2k in k-points parallel mode, there would have many `case.almblm_*` files in the directory, how to combine them into single `case.almblm` file, since `dmftproj` can only run in single core.

[2021-10-11 13:54] jkarp314 commented on #183
Hi,

It's my understanding that this is not implemented and dmftproj doesn't work with parallel wien2k.

If you only want single shot DFT+DMFT, you could run the DFT calculation in parallel to convergence, then use save_lapw to a new directory, run one more iteration in single mode in that directory and then call dmftproj.

[2021-10-11 14:00] #183 closed, assigned to nobody

[2021-11-08 09:44] hschnait opened #190 "add_dc always uses rotloc rotations"
`SumkDFT.add_dc` always uses the global/local rotational matrices, regardless whether `self.use_rotations` is set or not.
This is not in line with all the other `SumkDFT` functions, and leads to unexpected (wrong) behaviour when manually setting `use_rotations` to False with set rotations matrices.

[2021-11-09 15:03] hschnait commented on #148
Thank you SO MUCH for pointing this out!
I'm currently searching for a bug that breaks some SOC+SP calculations of mine, and at first glance these minus-signs seem to fix it. I'll take a look into the derivation of the formalus to see if I can find the source of this error.

And sorry for the late response, but I guess no one here wants to touch this old fortran code... :)
However, this might have

[2021-12-08 15:11] jrhui opened #192 "Small bug in `SumkDFTTools.spaghettis(mesh=mesh)`"
SumkDFTTools.spaghettis(mesh=mesh) did not pass `mesh` into self.lattice_gf,
In line 537-538,
[code]

[2021-12-09 08:34] #192 closed, assigned to nobody

[2021-12-09 08:35] jrhui opened #193 "Small bug in `SumkDFTTools.spaghettis(mesh=mesh)`"
In `SumkDFTTools.spaghettis()`, `SK.lattice_gf()` is called. Inside `SK.lattice_gf()` `G_lattice` will be used if exists. However when the `mesh` passed into spaghettis() is inconsistence with `G_lattice.mesh`, the result will be wrong.

[2021-12-09 13:24] the-hampel commented on #193
Hi @zhl-95,

the problem is known and will be fixed with this PR: #177 . We can only merge it after we release the next version of triqs, because the PR will break backward compatibility. if you want to, you can try the PR with this git repo / fork: https://github.com/jkarp314/dft_tools/tree/sumk_mesh

Thanks for reporting this. I will keep the issue open until we merged the PR.

Best regards,
Ale

[2022-01-29 12:08] Simba2805 commented on #153
Dear all,

I am using WIEN2K_21.1. I am facing the same error while working with dmftproj.

When I run `x lapw2 -almd -p` it gives me an error as follows:

`  Summary of lapw2para:`
`   localhost	 user=2.225	 wallclock=1950.4`
`cp: cannot stat ‘.in.tmp’: No such file or directory`
`**  LAPW2 crashed!`
`2.152u 6.728s 0:30.03 29.5%	0+0k 0+4176io 0pf+0w`
`error: command   /home/19ts91r02/WIEN2K_21.1/

[2022-03-08 18:02] hschnait commented on #190
This is fixed with PR #207

[2022-03-08 18:02] #190 closed, assigned to hschnait

[2022-04-22 20:45] the-hampel commented on #156
I will close this issue now since it will be worked on in issue #160

[2022-04-22 20:45] #156 closed, assigned to the-hampel

[2022-04-22 20:46] the-hampel commented on #175
Is this issue still actively a problem @ZhijieFan ? Otherwise I will close it next week. Feel welcome to open a new issue at any time.

[2022-04-22 21:06] phibeck commented on #137
Dear Zhijie,

just to follow up on your original question. The k-resolved spectral function is now implemented, you can check out an example here: https://flatironinstitute.github.io/solid_dmft/tutorials/correlated_bandstructure/plot_correlated_bands.html
Note that this works for the band basis of the downfolded Hamiltonian only, not the original Kohn-Sham states. So if there is disentanglement du

[2022-04-25 18:04] the-hampel commented on #193
This should be fixed now with  #177 being merged into unstable.

[2022-04-25 18:04] #193 closed, assigned to nobody

[2022-04-25 18:05] the-hampel commented on #157
This should be fixed now with  #177 being merged into unstable.

[2022-04-25 18:05] #157 closed, assigned to the-hampel

[2022-07-28 15:08] phibeck opened #215 "Incorrect reordering of orbital and spin for SOC in Wannier90Converter"
### Description

There are two problems in the current version of the Wannier90Converter when using spin-orbit coupling:

1. there is no check on the orbital order that was used in Wannier90. The default of (u,d) results in wrong results.
2. it currently reorders orbitals incorrectly for more than one impurity

### Steps to Reproduce

When using a Wannier90 Hamiltonian with:

1. projections define

[2022-08-02 15:49] the-hampel opened #216 "when using sumk with MeshReFreq calc_mu does not Fermi function for density calculation"
When using a real frequency mesh the `.density()` function called when running `calc_mu` should instead call `.density(beta=xxx)`, to use the Fermi distribution when integrating from -infty to 0.

Idea: use `broadening` as default value and always call the `.density(beta=xxx)` funtion of TRIQS.

[2022-08-10 08:27] merkelm commented on #215
Thanks @phibeck for the report and the discussions! The current implementation works well for Vasp+Wannier90, where the orbitals seem to be ordered differently than in QuantumEspresso+Wannier90. I will implement a flag to switch between the two behaviors. Reading the nnkp file would not help here because in the Vasp+Wannier90 workflow, the order in the nnkp file does not seem to correspond to the

[2022-08-31 14:55] LeoGaspard opened #219 "Different types for Gf and Gf.mesh"
Hi,

I noticed that when using iw_or_w = 'w', the function [extract_g_loc](https://triqs.github.io/dft_tools/latest/_python_api/triqs_dft_tools.sumk_dft.SumkDFT.extract_G_loc.html?highlight=extract_g_loc#triqs_dft_tools.sumk_dft.SumkDFT.extract_G_loc) from the [SumkDFT](https://triqs.github.io/dft_tools/latest/_python_api/triqs_dft_tools.sumk_dft.SumkDFT.html?highlight=sumkdft#triqs_dft_tools.sumk

[2022-09-03 08:49] the-hampel commented on #219
Hi @LeoGaspard ,
thank you fore reporting this behavior. Because, of these weird behaviors of the sumk object we did a major rework of how the `mesh` is dealt with in the whole class on the unstable branch, which is not yet released. This weird behavior can only avoided currently by using `sumk.put_sigma` first, with a `sigma` Gf container having the correct mesh you want to use also later when ca

[2022-09-03 08:52] the-hampel commented on #219
Additionally, I find this behavior of the base library very confusing that you reported. This should be fixed in triqs maybe? In the current version one can feed a `MeshReFreq` mesh into a `GfImFreq` init:
[code]
gives:
[code]
which makes no sense. It correctly decides to create a Gf on a MeshReFreq, but this should maybe trhow an error? @Wentzell can you comment / take a look? I know the `GfImFre

[2022-09-07 06:51] LeoGaspard commented on #219
Hi,
Thank you very much for your answer. I will try to use the unstable version of DFTTools and be extra careful that the mesh of the Green's functions that I use is always consistent with their types

[2022-09-21 22:00] Wentzell commented on #219
Dear @LeoGaspard @the-hampel,

Thank you for pointing out this inconsistency.
I have addressed this in the development branch of TRIQS, where we are now checking that the mesh type is compatible. C.f. https://github.com/TRIQS/triqs/commit/a42f076547196848aecde783ce4529d45ec15298

[2022-10-13 21:33] daisychoco opened #223 "triqs mpi environment"
Hi,
I'm learning dft_tools through web tutorial page.
When I ran "import triqs.utility.mpi as mpi"  I got

"Warning: could not identify MPI environment!
Starting serial run at: 2022-10-13 16:13:27.174887"

I am wondering how i can set MPI environment.
If I type "mpirun", I got
"mpirun could not find anything to do.
It is possible that you forgot to specify how many processes to run
via the "-np" a

[2022-10-14 13:50] #223 closed, assigned to nobody

[2022-10-14 13:55] #219 closed, assigned to nobody

[2022-10-24 18:10] the-hampel commented on #215
Can we close the issue now? Or should we think about a more advanced solution reading the orbital order from that output file for each code? If I understand correctly we could try to read this from the nnkp file?

[2022-10-24 18:32] phibeck commented on #215
I think we can close it for now. It would be some effort to read it in and for most cases it's probably not necessary, although there would definitely be some benefit to checking it somehow. For now it's entirely up to the user to make sure this is all in order, which can get cumbersome for larger systems in particular.

[2022-10-24 18:50] the-hampel commented on #215
Okay thanks than I will close it for now

[2022-10-24 18:50] #215 closed, assigned to nobody